.card {
  display: flex;
  align-items: center;
  padding: 16pt;
}

.image {
  height: 64px;
  width: auto;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 16pt;
  text-align: start;
}

.my2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
